/*******Style Global*******/



body {
	background-color: #fcfcfc;
}

/*********end Style Global*************/



/*******Style Page Connexion et page profil*******/


#monprofil .logoProfil {
	margin-bottom: 80px;
}

#monprofil .container-fluid {
	margin-top: 150px;
	width: 450px;
}

#monprofil .containerProfil {
    width: 600px ;
    }



#monprofil .form-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#monprofil .connexionDiv {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#monprofil .enLigne {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

#monprofil .enLigne label {
	display: flex;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	align-items: center;
    
}

#monprofil .checkBoxDiv {
    display: inline-flex;
    flex-direction: column;
    padding: 0px;
}

#monprofil .checkBoxDiv input {
    margin: 10px 10px 10px 0px
}

#monprofil .checkBoxDiv label {
    margin: 0px 20px 0px 3px
}


#monprofil .inline {
	display: inline-flex;
}

#monprofil .btnCreerCompte {
	margin-top: 50px;
	width: 100%;
}

#monprofil .btnConnexion {
	width: 50%;
	font-size: 18px;
	padding: 10px 0px;
}

#monprofil #identifiant {
	width: 250px;
}

#monprofil #motDePasse {
	width: 250px;
}

#monprofil .btn {
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2)
}

#monprofil .logo {
	margin-bottom: 100px;
	
}

#monprofil .inputEnlectureSeul {
     
        width: 60%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: rgb(238, 238, 238);
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem; 
}


/*********end Style Style Page Connexion et page profil*************/





/*********style page accueil************/
#page_accueil * {
	font-family: 'Chilanka';
}

#page_accueil .section {
	border: 1px solid red;
}

#page_accueil h4 {         
	font-weight: bolder;      /* ??? */
}

#page_accueil .liens {
	text-align: right;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:100px;
	padding-left:100px;
}

#page_accueil h2 {     
	text-align: center;
	font-weight: bolder;     /* ??? */
}

#page_accueil .formulaire {
}

#page_accueil p.formulaire {
	font-size:20px;
	font-weight: bold;
}

#page_accueil .encheres {
	border: 1px solid;
	padding: 15px;
}
/*********fin de style page accueil************/


/*********style Formulaire Inscription************/

#inscription .container .heading h2{
	text-align: center;
	padding-bottom: 40px;
}

#inscription-form
{
    font-size: 20px;
    margin-left: -25px;
}

#inscription-form .col-md-6{
	height: 60px;
}

.inscription-control
{
    height: 34px;
    font-size: 18px;
    width: 250px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#inscription label{
	width: 150px;
}

#inscriptionRow .passwordPart{
	margin-top: 10px;
}

.buttonInscription {
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
	width: 200px;
    font-size: 18px;
    padding: 10px 0px;
}

.btnCreer {
	text-align: end;
    padding-right: 30px;
}

.btnAnnuler {
	padding-left: 80px;
}

.infoUtile{
	margin:5px;
	font-size: 18px;
}

.comments
{
    font-style: italic;
    font-size: 15px;
    height: 25px;
    color: red;
}

.glyphicon-ok
{
    margin-right: 15px;

}
.btn-success{
	margin-bottom: 15px;
}

.sucessCreation {
	border: 5px inset #16910A;
	border-radius: 0px 40px 0px 40px;
	box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.52);
	margin-bottom: 15px;
}

/**********media queries ****************/

@media (max-width: 1200px) {
	
	#inscription-form {
    	margin: auto;
	}	 
	
}	

@media (max-width: 990px) {
	
	#inscription-form {
   	 margin: auto;
   	 text-align: center;
	}	
	
	.divBtn {
	display: flex;
    justify-content: space-around;
	}
	
	.buttonInscription{
	width: 150px;
	}
	
	.btnCreer {
	text-align: center;
	padding: 0px;
	}

	.btnAnnuler {	
	padding: 0px;
	}	
}	

@media (max-width: 436px) {
	
	#inscription label{
    display: block;
    margin: 10px auto 5px;
	}
		
}

/*********end style Formulaire Inscription*************/

/*********style Formulaire Modification de profil************/
.creditPart h2{
	font-size: 18px;
	font-weight: 700;
}

.creditPart h2 span{
	margin-left: 55px;
}

#modification-form {
    font-size: 20px;
}

#modificationProfil .col-md-6{
	height: 60px;
	width: 550px;
}

#modificationProfil .col-md-12{
	height: 60px;
}

#modificationProfil .container .heading h2{
	text-align: center;
	padding-bottom: 40px;
}

#modificationProfil label{
	width: 250px;
}


#modificationProfil .container {
	width: 1500px;
}

.btnEnregistrer {
	width: 100px;
}

.divBtn {
	margin-left: -150px;
}
/**********media queries ****************/

@media (max-width: 1200px) {
	
	#modificationProfil {
   	 margin: auto;
   	 text-align: inherit;
	}	
	
	#modification-form {
    margin-left: 200px;
	}
	
	.divBtn {
	display: flex;
    justify-content: space-around;
	}
	
	.buttonInscription{
	width: 200px;
	}
	
	.btnEnregistrer {
	width: 100px;
	}
	
	.btnCreer {
	text-align: center;
	padding: 0px;
	}

	.btnAnnuler {	
	padding: 0px;
	}
	
	#modificationProfil .container {
	width: 900px;
	}	 
	
}	
	
@media (max-width: 436px) {
	
	#modificationProfil label{
    display: block;
    margin: 10px auto 5px;
	}
		
}


/*********style Page mon profil************/


.btnModiferProfil {
	margin: 50px auto;
	width :30%;
}

.divBtnModifier {
  display: flex;
  justify-content: center;
}


/*********style Page Liste Enchere Connecte************/


/* NavBar*/ 

#enchereConnecte .divNavbar {   
    float: right;
}

#enchereConnecte .divNavbar {   
    float: right;
}



/* Toutes les divs sauf le titre*/ 
#enchereConnecte .divPrincipaleAvecFiltre {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Colonne 1 ---> Section de recherche et filtre*/ 
#enchereConnecte .colonne1 {
    flex-grow:2;
   width: 200px;
  padding-right: 0;
  margin-left: 200px;
}

#enchereConnecte .titrePage {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}

#enchereConnecte .searchPlaceHolder {
    width: 100%;
}

#enchereConnecte .categorieContainer {
    display: flex;
}

#enchereConnecte .titreCategorie {
    margin-left: 120px;
}

#enchereConnecte .btn .caret {
    margin-left: 250px;
}

#enchereConnecte .divPrincipaleAvecFiltre h4 {
    margin-left: 100px;
    margin-bottom: 20px;
}

#enchereConnecte .divCheckboxAchat {
   margin-left: 20px;
}

#enchereConnecte .divCheckMesVentes{
    margin-left: 20px;
}

#enchereConnecte .divRadioEtCheckbox {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#enchereConnecte .divDropDown {
    margin-left: 50px;
}


/*Colonne 2 ----> Bouton rechercher*/ 
#enchereConnecte .colonne2 {
    padding-left: 0;
    flex-grow:1 ;
    width: 400px;
}

#enchereConnecte .btnRechercher {
    
    width: 250px;
    height: 100px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3)
}


/*Le cadre exterieur: loupe et input search*/
#enchereConnecte .input-group {
    margin-left: 100px;
    margin-bottom: 20px;
    border: solid 1px grey;
    border-radius: 300px;
    width: 300px;
    height: 35px;
    display: flex;
    width: 400px;
}
 
/*Cadre interieur de la loupe*/
#enchereConnecte .input-group-text {
    background-color: transparent;
    border-color: transparent;

}
 
/*Cadre de l'input search seul*/
#enchereConnecte .form-control{
    background-color: transparent;
    border-color: transparent;
    width: 10px;
    -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0) !important;
    box-shadow: inset 0 0 0 rgba(0,0,0,0) !important;
}

#enchereConnecte .fas {
    font-size: 15px;
    padding-left: 13px;
    padding-top: 9px;
    color: grey;
}

/* Vignette des produits*/ 
#enchereConnecte .card-product {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 400px;
  margin: 20px 0 10px 250px;
}

 #enchereConnecte .card-product img {
  height: 100%;
  width: 130px;
  object-fit: cover;
}

#enchereConnecte .card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

#enchereConnecte .card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

#enchereConnecte .card-product .card-product-infos {
  padding: 16px;
}

#enchereConnecte .card-product h2 {
    text-decoration-line: underline;
}


















